In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import psycopg2 as psy
import re
import requests
from bs4 import BeautifulSoup
import seaborn as sns
import os
import datetime
import json
from urllib.request import urlopen
from PIL import Image
from highlight_text import fig_text
from mplsoccer import Bumpy, FontManager, add_image
from sqlalchemy import create_engine
from requests_ip_rotator import ApiGateway, EXTRA_REGIONS

ModuleNotFoundError: No module named 'highlight_text'

<h5>use try except else for the loop for incremental automatic update</h5>

In [3]:
connection = psy.connect(database = 'Football', user = 'postgres', password = 'Karthik37', host = 'localhost', port = 5432)
cursor = connection.cursor()

cursor.execute('select * from epl_league_table_tmp')



record = cursor.fetchall()

pd.DataFrame(record)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1,Manchester City,38,32,4,2,106,27,79,100,2.63,78.6,23.8,54.8,1.44,53812,Sergio Agüero - 21,Ederson,→ Champions League via league finish,2017/2018
1,2,Manchester Utd,38,25,6,7,68,28,40,81,2.13,55.7,40.7,15.0,0.4,74976,Romelu Lukaku - 16,David de Gea,→ Champions League via league finish,2017/2018
2,3,Tottenham,38,23,8,7,74,36,38,77,2.03,64.7,33.9,30.8,0.81,67496,Harry Kane - 30,Hugo Lloris,→ Champions League via league finish,2017/2018
3,4,Liverpool,38,21,12,5,84,38,46,75,1.97,72.9,33.8,39.1,1.03,53049,Mohamed Salah - 32,"Loris Karius, Simon Mignolet",→ Champions League via league finish,2017/2018
4,5,Chelsea,38,21,7,10,62,38,24,70,1.84,54.4,33.8,20.6,0.54,41282,Eden Hazard - 12,Thibaut Courtois,→ Europa League via cup win 1,2017/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,16,Nott'ham Forest,0,0,0,0,0,0,0,0,None,None,None,None,None,None,None,None,None,2024/2025
156,17,Southampton,0,0,0,0,0,0,0,0,None,None,None,None,None,None,None,None,None,2024/2025
157,18,Tottenham,0,0,0,0,0,0,0,0,None,None,None,None,None,None,None,None,None,2024/2025
158,19,West Ham,0,0,0,0,0,0,0,0,None,None,None,None,None,None,None,None,None,2024/2025
159,20,Wolves,0,0,0,0,0,0,0,0,None,None,None,None,None,None,None,None,None,2024/2025

In [7]:
fbref_table

,league_position,club_name,matches_played,wins,draws,losses,goals_scored,goals_conceded,goal_difference,points,points_per_match,xg,xga,xgd,xgd_per_90,avg_attendance
0,1,Sunderland,26,21,0,5,93,36,57,42,1.62,NaN,NaN,NaN,NaN,1891/1892
1,2,Preston,26,18,1,7,61,31,30,37,1.42,NaN,NaN,NaN,NaN,1891/1892
2,3,Bolton,26,17,2,7,51,37,14,36,1.38,NaN,NaN,NaN,NaN,1891/1892
3,4,Aston Villa,26,15,0,11,89,56,33,30,1.15,NaN,NaN,NaN,NaN,1891/1892
4,5,Everton,26,12,4,10,49,49,0,28,1.08,NaN,NaN,NaN,NaN,1891/1892

In [7]:
# Looping for a set range - incremental load will be done from 2023-24 season
for i in range(1888, 2024):
    try:
        # Getting the site for each consecutive year
        print('Working 1')
        proxy = {
        "http": 'http://64.189.106.6:3129', 
        "https": 'http://64.189.106.6:3129'  
        }
        fbref_site = requests.get('https://fbref.com/en/comps/9/{}-{}/{}-{}-Premier-League-Stats#all_stats_squads_standard'.format(i, i+1, i, i+1), proxies = proxy).text
        # Using pandas read_html to get the table
        fbref_table = pd.read_html(fbref_site)[0]
        fbref_table['season'] = str(i) + '/' + str(i+1)

        # fbref_table['season'] = fbref_table['season'].astype(str)
        # print(fbref_table.head())
        
        # input()
        if "xG" in fbref_table or "xGA" in fbref_table or  "xGD" in fbref_table or "xGD/90" in fbref_table:
            column_names = ["league_position", "club_name", "matches_played", "wins", "draws", "losses",
                        "goals_scored", "goals_conceded", "goal_difference", "points", "points_per_match",
                        "xg", "xga", "xgd", "xgd_per_90", "avg_attendance",
                        "top_team_scorer", "goalkeeper", "notes", 'season']
            print('Working 2')
            # print(fbref_table.dtypes)
            # Renaming columns in the DataFrame
            fbref_table = fbref_table.rename(columns=dict(zip(fbref_table.columns, column_names)))
            
            print('Working 3')
            # Creating engine to connect to PostgreSQL DB
            engine = create_engine('postgresql+psycopg2://postgres:postgresql@localhost:5432/football')
            print('Working 4')
            # Inserting into the temp table
            fbref_table.to_sql('epl_league_table_tmp', engine, if_exists = 'append', index = False)
            print('Working 5')
        if "xG" not in fbref_table or "xGA" not in fbref_table or  "xGD" not in fbref_table or "xGD/90" not in fbref_table:
            column_names = ["league_position", "club_name", "matches_played", "wins", "draws", "losses",
                        "goals_scored", "goals_conceded", "goal_difference", "points", "points_per_match",
                        "avg_attendance", "top_team_scorer", "goalkeeper", "notes", 'season']
            print('Working 2')
            
            # Renaming columns in the DataFrame
            fbref_table = fbref_table.rename(columns=dict(zip(fbref_table.columns, column_names)))
            
            print('Working 3')
            # Creating engine to connect to PostgreSQL DB
            engine = create_engine('postgresql+psycopg2://postgres:postgresql@localhost:5432/football')
            print('Working 4')
            # Inserting into the temp table
            fbref_table.to_sql('epl_league_table_tmp_no_xg', engine, if_exists = 'append', index = False)
            print('Working 5')
    except Exception as e:
        print('Halted, Error')
        print(e)
        # continue

Working 2
Rk                   int64
Squad               object
MP                   int64
W                    int64
D                    int64
L                    int64
GF                   int64
GA                   int64
GD                   int64
Pts                  int64
Pts/MP             float64
xG                 float64
xGA                float64
xGD                float64
xGD/90             float64
Attendance           int64
Top Team Scorer     object
Goalkeeper          object
Notes               object
season              object
dtype: object
Working 3
Working 4
Working 5
Working 2
Rk                   int64
Squad               object
MP                   int64
W                    int64
D                    int64
L                    int64
GF                   int64
GA                   int64
GD                   int64
Pts                  int64
Pts/MP             float64
xG                 float64
xGA                float64
xGD                float64
xGD/90             float64
Attendance           int64
Top Team Scorer     object
Goalkeeper          object
Notes               object
season              object
dtype: object
Working 3
Working 4
Working 5
Working 2
Rk                   int64
Squad               object
MP                   int64
W                    int64
D                    int64
L                    int64
GF                   int64
GA                   int64
GD                   int64
Pts                  int64
Pts/MP             float64
xG                 float64
xGA                float64
xGD                float64
xGD/90             float64
Attendance           int64
Top Team Scorer     object
Goalkeeper          object
Notes               object
season              object
dtype: object
Working 3
Working 4
Working 5
Working 2
Rk                   int64
Squad               object
MP                   int64
W                    int64
D                    int64
L                    int64
GF                   int64
GA                   int64
GD                   int64
Pts                  int64
Pts/MP             float64
xG                 float64
xGA                float64
xGD                float64
xGD/90             float64
Attendance           int64
Top Team Scorer     object
Goalkeeper          object
Notes               object
season              object
dtype: object
Working 3
Working 4
Working 5
Working 2
Rk                   int64
Squad               object
MP                   int64
W                    int64
D                    int64
L                    int64
GF                   int64
GA                   int64
GD                   int64
Pts                  int64
Pts/MP             float64
xG                 float64
xGA                float64
xGD                float64
xGD/90             float64
Attendance           int64
Top Team Scorer     object
Goalkeeper          object
Notes               object
season              object
dtype: object
Working 3
Working 4
Working 5
Working 2
Rk                   int64
Squad               object
MP                   int64
W                    int64
D                    int64
L                    int64
GF                   int64
GA                   int64
GD                   int64
Pts                  int64
Pts/MP             float64
xG                 float64
xGA                float64
xGD                float64
xGD/90             float64
Attendance           int64
Top Team Scorer     object
Goalkeeper          object
Notes               object
season              object
dtype: object
Working 3
Working 4
Working 5
Working 2
Rk                   int64
Squad               object
MP                   int64
W                    int64
D                    int64
L                    int64
GF                   int64
GA                   int64
GD                   int64
Pts                  int64
Pts/MP             float64
xG                 float64
xGA                float64
xGD                float64
xGD/90             float64
Last 5              object
Attendance           int64
Top Team Scorer     object
Goalkeeper          object
Notes               object
season              object
dtype: object
Working 3
Working 4
Halted, Error
(psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type numeric: "W D D W W"
LINE 1: ... 1, 43, 18, 25, 45, 2.25, 44.1, 22.6, 21.5, 1.08, 'W D D W W...
                                                             ^

[SQL: INSERT INTO epl_league_table_tmp (league_position, club_name, matches_played, wins, draws, losses, goals_scored, goals_conceded, goal_difference, points, points_per_match, xg, xga, xgd, xgd_per_90, avg_attendance, top_team_scorer, goalkeeper, notes, season) VALUES (%(league_position)s, %(club_name)s, %(matches_played)s, %(wins)s, %(draws)s, %(losses)s, %(goals_scored)s, %(goals_conceded)s, %(goal_difference)s, %(points)s, %(points_per_match)s, %(xg)s, %(xga)s, %(xgd)s, %(xgd_per_90)s, %(avg_attendance)s, %(top_team_scorer)s, %(goalkeeper)s, %(notes)s, %(season)s)]
[parameters: ({'league_position': 1, 'club_name': 'Liverpool', 'matches_played': 20, 'wins': 13, 'draws': 6, 'losses': 1, 'goals_scored': 43, 'goals_conceded': 18, 'goal_difference': 25, 'points': 45, 'points_per_match': 2.25, 'xg': 44.1, 'xga': 22.6, 'xgd': 21.5, 'xgd_per_90': 1.08, 'avg_attendance': 'W D D W W', 'top_team_scorer': 52619, 'goalkeeper': 'Mohamed Salah - 14', 'notes': 'Alisson', 'season': '2023/2024'}, {'league_position': 2, 'club_name': 'Aston Villa', 'matches_played': 20, 'wins': 13, 'draws': 3, 'losses': 4, 'goals_scored': 43, 'goals_conceded': 27, 'goal_difference': 16, 'points': 42, 'points_per_match': 2.1, 'xg': 36.0, 'xga': 25.6, 'xgd': 10.3, 'xgd_per_90': 0.52, 'avg_attendance': 'W W D L W', 'top_team_scorer': 37295, 'goalkeeper': 'Ollie Watkins - 9', 'notes': 'Emiliano Martínez', 'season': '2023/2024'}, {'league_position': 3, 'club_name': 'Manchester City', 'matches_played': 19, 'wins': 12, 'draws': 4, 'losses': 3, 'goals_scored': 45, 'goals_conceded': 21, 'goal_difference': 24, 'points': 40, 'points_per_match': 2.11, 'xg': 36.8, 'xga': 17.8, 'xgd': 18.9, 'xgd_per_90': 1.0, 'avg_attendance': 'L W D W W', 'top_team_scorer': 53297, 'goalkeeper': 'Erling Haaland - 14', 'notes': 'Ederson', 'season': '2023/2024'}, {'league_position': 4, 'club_name': 'Arsenal', 'matches_played': 20, 'wins': 12, 'draws': 4, 'losses': 4, 'goals_scored': 37, 'goals_conceded': 20, 'goal_difference': 17, 'points': 40, 'points_per_match': 2.0, 'xg': 36.4, 'xga': 16.3, 'xgd': 20.0, 'xgd_per_90': 1.0, 'avg_attendance': 'L W D L L', 'top_team_scorer': 60169, 'goalkeeper': 'Bukayo Saka - 6', 'notes': 'David Raya', 'season': '2023/2024'}, {'league_position': 5, 'club_name': 'Tottenham', 'matches_played': 20, 'wins': 12, 'draws': 3, 'losses': 5, 'goals_scored': 42, 'goals_conceded': 29, 'goal_difference': 13, 'points': 39, 'points_per_match': 1.95, 'xg': 35.2, 'xga': 34.7, 'xgd': 0.4, 'xgd_per_90': 0.02, 'avg_attendance': 'W W W L W', 'top_team_scorer': 61624, 'goalkeeper': 'Son Heung-min - 12', 'notes': 'Guglielmo Vicario', 'season': '2023/2024'}, {'league_position': 6, 'club_name': 'West Ham', 'matches_played': 20, 'wins': 10, 'draws': 4, 'losses': 6, 'goals_scored': 33, 'goals_conceded': 30, 'goal_difference': 3, 'points': 34, 'points_per_match': 1.7, 'xg': 27.7, 'xga': 35.2, 'xgd': -7.5, 'xgd_per_90': -0.38, 'avg_attendance': 'L W W W D', 'top_team_scorer': 62660, 'goalkeeper': 'Jarrod Bowen - 11', 'notes': 'Alphonse Areola', 'season': '2023/2024'}, {'league_position': 7, 'club_name': 'Brighton', 'matches_played': 20, 'wins': 8, 'draws': 7, 'losses': 5, 'goals_scored': 38, 'goals_conceded': 33, 'goal_difference': 5, 'points': 31, 'points_per_match': 1.55, 'xg': 34.8, 'xga': 29.6, 'xgd': 5.3, 'xgd_per_90': 0.26, 'avg_attendance': 'D L D W D', 'top_team_scorer': 31604, 'goalkeeper': 'João Pedro - 7', 'notes': 'Jason Steele', 'season': '2023/2024'}, {'league_position': 8, 'club_name': 'Manchester Utd', 'matches_played': 20, 'wins': 10, 'draws': 1, 'losses': 9, 'goals_scored': 22, 'goals_conceded': 27, 'goal_difference': -5, 'points': 31, 'points_per_match': 1.55, 'xg': 29.1, 'xga': 32.5, 'xgd': -3.4, 'xgd_per_90': -0.17, 'avg_attendance': 'L D L W L', 'top_team_scorer': 73514, 'goalkeeper': 'Scott McTominay - 5', 'notes': 'André Onana', 'season': '2023/2024'}  ... displaying 10 of 20 total bound parameter sets ...  {'league_position': 19, 'club_name': 'Burnley', 'matches_played': 21, 'wins': 3, 'draws': 3, 'losses': 15, 'goals_scored': 21, 'goals_conceded': 42, 'goal_difference': -21, 'points': 12, 'points_per_match': 0.57, 'xg': 18.6, 'xga': 35.4, 'xgd': -16.9, 'xgd_per_90': -0.8, 'avg_attendance': 'L W L L D', 'top_team_scorer': 21430, 'goalkeeper': 'Lyle Foster, Zeki Amdouni - 4', 'notes': 'James Trafford', 'season': '2023/2024'}, {'league_position': 20, 'club_name': 'Sheffield Utd', 'matches_played': 20, 'wins': 2, 'draws': 3, 'losses': 15, 'goals_scored': 15, 'goals_conceded': 49, 'goal_difference': -34, 'points': 9, 'points_per_match': 0.45, 'xg': 16.2, 'xga': 39.9, 'xgd': -23.7, 'xgd_per_90': -1.18, 'avg_attendance': 'W L D L L', 'top_team_scorer': 30694, 'goalkeeper': 'Oliver McBurnie, Cameron Archer - 3', 'notes': 'Wes Foderingham', 'season': '2023/2024'})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [12]:
i = 2007
fbref_site = requests.get('https://fbref.com/en/comps/9/{}-{}/{}-{}-Premier-League-Stats#all_stats_squads_standard'.format(i, i+1, i, i+1)).text
fbref_table = pd.read_html(fbref_site)[0]
fbref_table['season'] = str(i) + '/' + str(i+1)
# del fbref_table['Last 5']

column_names = ["league_position", "club_name", "matches_played", "wins", "draws", "losses",
                        "goals_scored", "goals_conceded", "goal_difference", "points", "points_per_match",
                         "avg_attendance",
                        "top_team_scorer", "goalkeeper", "notes", 'season']
print('Working 2')

# Renaming columns in the DataFrame
fbref_table = fbref_table.rename(columns=dict(zip(fbref_table.columns, column_names)))

print('Working 3')
# Creating engine to connect to PostgreSQL DB
engine = create_engine('postgresql+psycopg2://postgres:postgresql@localhost:5432/football')
print('Working 4')
# Inserting into the temp table
fbref_table.to_sql('epl_league_table_tmp_no_xg', engine, if_exists = 'append', index = False)
print('Working 5')

Working 2
Working 3
Working 4
Working 5

Incremental Load - checking every 2 weeks on incrementally updating the data using the tmp tables to merge into the final epl league table

In [19]:
if 'league_position' in fbref_table.columns:
    print('True')
else:
    print('False')

True

In [22]:
fbref_site = requests.get('https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats#all_stats_squads_standard')
fbref_site

In [ ]:
# Looping for a set range - incremental load will be done from 2023-24 season
i = 2023 # use select query to get latest season and get the year from the record using regex instead of manually assigning 'i'
while True:     
    try:
        # Getting the site for each consecutive year
        print('Working 1')
        proxy = {
        "http": 'http://64.189.106.6:3129', 
        "https": 'http://64.189.106.6:3129'  
        }
        fbref_site = requests.get('https://fbref.com/en/comps/9/{}-{}/{}-{}-Premier-League-Stats#all_stats_squads_standard'.format(i, i+1, i, i+1), proxies = proxy)
        if fbref_site == '<Response [200]>':
            continue
        else:
            break

        # Using pandas read_html to get the table
            fbref_table = pd.read_html(fbref_site.text)[0]
            fbref_table['season'] = str(i) + '/' + str(i+1)
            i += 1

            if 'Last 5' in fbref_table:
                del fbref_table['Last 5']

            if "xG" in fbref_table or "xGA" in fbref_table or  "xGD" in fbref_table or "xGD/90" in fbref_table:
                column_names = ["league_position", "club_name", "matches_played", "wins", "draws", "losses",
                            "goals_scored", "goals_conceded", "goal_difference", "points", "points_per_match",
                            "xg", "xga", "xgd", "xgd_per_90", "avg_attendance",
                            "top_team_scorer", "goalkeeper", "notes", 'season']
                print('Working 2')
                # print(fbref_table.dtypes)
                # Renaming columns in the DataFrame
                fbref_table = fbref_table.rename(columns=dict(zip(fbref_table.columns, column_names)))
                
                print('Working 3')
                # Creating engine to connect to PostgreSQL DB
                engine = create_engine('postgresql+psycopg2://postgres:postgresql@localhost:5432/football')
                print('Working 4')
                # Inserting into the temp table
                fbref_table.to_sql('epl_league_table_tmp', engine, if_exists = 'append', index = False)
                print('Working 5')
            if "xG" not in fbref_table or "xGA" not in fbref_table or  "xGD" not in fbref_table or "xGD/90" not in fbref_table:
                column_names = ["league_position", "club_name", "matches_played", "wins", "draws", "losses",
                            "goals_scored", "goals_conceded", "goal_difference", "points", "points_per_match",
                            "avg_attendance", "top_team_scorer", "goalkeeper", "notes", 'season']
                print('Working 2')
                
                # Renaming columns in the DataFrame
                fbref_table = fbref_table.rename(columns=dict(zip(fbref_table.columns, column_names)))
                
                print('Working 3')
                # Creating engine to connect to PostgreSQL DB
                engine = create_engine('postgresql+psycopg2://postgres:postgresql@localhost:5432/football')
                print('Working 4')
                # Inserting into the temp table
                fbref_table.to_sql('epl_league_table_tmp_no_xg', engine, if_exists = 'append', index = False)
                print('Working 5')
            else:
                return False
    except Exception as e:
        print('Halted, Error')
        print(e)
        # continue